<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>This is Index.html</h1>
    <a th:href="@{/target}">访问target.html</a><br>
    <a th:href="@{/testRequestByServletAPI}">ServletAPI向request域对象共享数据</a><br>
    <a th:href="@{/testModelAndView}">使用ModelAndView向request域对象共享数据</a><br>
    <a th:href="@{/testModel}">使用Model向request域对象共享数据</a><br>
    <a th:href="@{/testMap}">使用Map集合向request域对象共享数据</a><br>
    <a th:href="@{/testModelMap}">使用ModelMap集合向request域对象共享数据</a><br>



</body>
</html>